<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>

</head>
<body>
<nav>
  <ul>
    <li><a href="/josh">JOSH</a></li>
    <li><a href="/carly">CARLY</a></li>
    <li><a href="/emily">EMILY</a></li>
    <li><a href="/kelly">KELLY</a></li>
    <li><a href="/paul">PAUL</a></li>
  </ul>
</nav>

</body>